<!DOCTYPE html>

<head>
  <title>Chimera - Jailbreak Guides</title>
  <link rel="shortcut icon" href="https://i.vgy.me/KY96Du.png">
  <link rel="stylesheet" type="text/css" href="../css/articles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="apple-touch-icon" href="https://i.vgy.me/IVzE8H.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>        

<div id="top" style="background-color: #d64646; float: center; text-align: center; height: 52px;">
        <p id="construction">Site under construction. Check back later.</p></div>
                <br>
                <br>
                <br>
                <!-- Start here until we're finished-->